{
    "openapi": "3.0.0",
    "info": {
        "title": "Task Manager API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://tm.localho.st"
        }
    ],
    "paths": {
        "/api/v1/tasks": {
            "post": {
                "summary": "Создать новую задачу",
                "operationId": "2e22bc5466c756488ff0d13d247450bc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/schemas/CreateTaskResponse"
                    },
                    "422": {
                        "$ref": "#/components/schemas/ValidationErrorResponse"
                    },
                    "500": {
                        "$ref": "#/components/schemas/ServerErrorResponse"
                    }
                }
            }
        },
        "/api/v1/tasks/{id}": {
            "delete": {
                "summary": "Удалить задачу",
                "operationId": "070241ff858b3b21ff00f1a5b85eea8c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/schemas/DeleteTaskResponse"
                    },
                    "400": {
                        "$ref": "#/components/schemas/ClientErrorResponse"
                    },
                    "500": {
                        "$ref": "#/components/schemas/ServerErrorResponse"
                    }
                }
            },
            "patch": {
                "summary": "Редактировать задачу",
                "operationId": "713cd0943414799388d71f44112019e2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/schemas/UpdateTaskResponse"
                    },
                    "422": {
                        "$ref": "#/components/schemas/ValidationErrorResponse"
                    },
                    "400": {
                        "$ref": "#/components/schemas/ClientErrorResponse"
                    },
                    "500": {
                        "$ref": "#/components/schemas/ServerErrorResponse"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "EmptyOutput": {
                "description": "Пустой ответ",
                "type": "object"
            },
            "CreateTaskRequest": {
                "description": "Запрос на создание задачи",
                "properties": {
                    "title": {
                        "description": "Название задачи",
                        "type": "string",
                        "example": "Завершить проект"
                    },
                    "description": {
                        "description": "Описание задачи",
                        "type": "string",
                        "example": "Необходимо завершить про��кт до конца месяца"
                    },
                    "status": {
                        "description": "Статус задачи",
                        "type": "string",
                        "example": "todo",
                        "nullable": true
                    },
                    "importance": {
                        "description": "Важность задачи (1-5)",
                        "type": "integer",
                        "example": 3
                    },
                    "deadline": {
                        "description": "Крайний срок выполнения задачи (Unix Timestamp)",
                        "type": "string",
                        "format": "timestamp",
                        "example": "1697040000"
                    }
                },
                "type": "object"
            },
            "DeleteTaskRequest": {
                "description": "Запрос на удаление задачи",
                "type": "object"
            },
            "UpdateTaskRequest": {
                "description": "Запрос на обновление задачи",
                "required": [
                    "title",
                    "description",
                    "importance",
                    "deadline"
                ],
                "properties": {
                    "title": {
                        "description": "Название задачи",
                        "type": "string",
                        "example": "Обновить документацию"
                    },
                    "description": {
                        "description": "Описание задачи",
                        "type": "string",
                        "example": "Необходимо обновить документацию для API"
                    },
                    "status": {
                        "description": "Статус задачи",
                        "type": "string",
                        "enum": [
                            "todo",
                            "in_progress",
                            "completed"
                        ],
                        "example": "todo"
                    },
                    "importance": {
                        "description": "Важность задачи (1-5)",
                        "type": "integer",
                        "example": 3
                    },
                    "deadline": {
                        "description": "Дедлайн задачи в формате Unix-времени",
                        "type": "string",
                        "example": "2025-12-31 23:59:59"
                    }
                },
                "type": "object"
            },
            "ClientErrorResponse": {
                "title": "ClientErrorResponse",
                "description": "Клиентская ошибка"
            },
            "ServerErrorResponse": {
                "title": "ServerErrorResponse",
                "description": "Клиентская ошибка"
            },
            "ValidationErrorResponse": {
                "title": "ValidationErrorResponse",
                "description": "Ошибка валидации"
            },
            "CreateTaskResponse": {},
            "DeleteTaskResponse": {
                "title": "DeleteTaskResponse",
                "description": "Ответ на запрос удаления задачи"
            },
            "UpdateTaskResponse": {
                "title": "UpdateTaskResponse",
                "description": "Ответ на запрос обновления задачи"
            }
        },
        "responses": {
            "400": {
                "description": "Клиентская ошибка",
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "Task with ID `id` not found"
                                },
                                "error_code": {
                                    "type": "string",
                                    "example": "task_not_found"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "500": {
                "description": "Серверная ошибка",
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "Houston, we have a problem"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "422": {
                "description": "Ошибка валидации",
                "content": {
                    "application/json": {
                        "schema": {
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "201": {
                "description": "Задача успешно обновлена"
            }
        },
        "parameters": {
            "DeleteTaskRequest_id": {
                "name": "id",
                "in": "path",
                "description": "Идентификатор задачи для удаления",
                "required": true,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            },
            "UpdateTaskRequest_id": {
                "name": "id",
                "in": "path",
                "description": "Идентификатор задачи для обновления",
                "required": true,
                "schema": {
                    "type": "integer",
                    "example": 1
                }
            }
        }
    }
}