{
    "openapi": "3.0.0",
    "info": {
        "title": "Task Manager API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://tm.localho.st/api/v1"
        }
    ],
    "paths": {
        "/tasks": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Получить список задач",
                "description": "Возвращает список задач с возможностью фильтрации по статусу",
                "operationId": "f6003d04782c0628975b0aedba0c8a38",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Фильтр по статусу задачи (TODO, IN_PROGRESS, COMPLETED)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TODO",
                                "IN_PROGRESS",
                                "COMPLETED"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список задач",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "data": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "#/components/schemas/Task"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to fetch tasks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Создать задачу",
                "description": "Создает новую задачу",
                "operationId": "b317045dc793f48512fa2363a87efa43",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Задача успешно создана",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to create task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{task}": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Получить задачу",
                "description": "Возвращает задачу по ID",
                "operationId": "e216b67a43925939a486d3cbec312e9d",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "description": "ID задачи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Данные задачи",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Задача не найдена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Task not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Обновить задачу",
                "description": "Обновляет данные задачи",
                "operationId": "5c63417946de93230bb2f622d8d3ce11",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "description": "ID задачи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Задача успешно обновлена",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to update task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Удалить задачу",
                "description": "Удаляет задачу по ID",
                "operationId": "a8749e225f3a771ca0a365626c3dbd0b",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "description": "ID задачи",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Задача успешно удалена"
                    },
                    "500": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to delete task"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/priority": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Приоритизация задач",
                "description": "Возвращает задачи, отсортированные по приоритету",
                "operationId": "9c286c3c597006c1bc1c2832841cce2d",
                "responses": {
                    "200": {
                        "description": "Список задач с приоритетами",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Task"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to fetch prioritized tasks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "TaskRequest": {
                "description": "Схема для создания задачи",
                "required": [
                    "title",
                    "description",
                    "status",
                    "importance",
                    "deadline"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "example": "Подготовить презентацию"
                    },
                    "description": {
                        "type": "string",
                        "example": "Описание задачи"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "todo",
                            "in_progress",
                            "completed"
                        ],
                        "example": "todo"
                    },
                    "importance": {
                        "type": "integer",
                        "example": 5
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-12-01 12:00:00"
                    }
                },
                "type": "object"
            },
            "Task": {
                "description": "Сущность задачи",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "type": "string",
                        "example": "Подготовить презентацию"
                    },
                    "description": {
                        "type": "string",
                        "example": "Описание задачи"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "TODO",
                            "IN_PROGRESS",
                            "COMPLETED"
                        ],
                        "example": "TODO"
                    },
                    "importance": {
                        "type": "integer",
                        "example": 5
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-12-01T12:00:00Z"
                    },
                    "is_overdue": {
                        "type": "boolean",
                        "example": false
                    },
                    "priority_score": {
                        "type": "number",
                        "format": "float",
                        "example": 0
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-11-25T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-11-25T10:00:00Z"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Tasks",
            "description": "Tasks"
        }
    ]
}