{
    "openapi": "3.0.0",
    "info": {
        "title": "Task Manager API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "http://tm.localho.st/api/v1"
        }
    ],
    "paths": {
        "/tasks": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "Список задач",
                "description": "Получить список задач",
                "operationId": "listTasks",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Статус задачи",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "todo",
                                "in_progress",
                                "completed"
                            ],
                            "example": "completed"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешно получен список задач",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListTasksResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Клиентская ошибка",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "tasks"
                ],
                "summary": "Создать новую задачу",
                "operationId": "createTask",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Успешно создана задача",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTaskResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{id}": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "Получить задачу",
                "operationId": "showTask",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Идентификатор задачи для получения",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешно получена задача",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowTaskResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Клиентская ошибка",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "tasks"
                ],
                "summary": "Удалить задачу",
                "operationId": "deleteTask",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Идентификатор задачи для обновления",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Успешно удалена задача",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateTaskResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Клиентская ошибка",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "tasks"
                ],
                "summary": "Редактировать задачу",
                "operationId": "updateTask",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Идентификатор задачи для обновления",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Успешно обновлена задача",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateTaskResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Клиентская ошибка",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/priority": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "Список задач",
                "description": "Получить список задач",
                "operationId": "listTasksByPriority",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Статус задачи",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "todo",
                                "in_progress",
                                "completed"
                            ],
                            "example": "completed"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Успешно получен список задач",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListTasksByPriorityResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Клиентская ошибка",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClientErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Внутренняя ошибка сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CreateTaskRequest": {
                "description": "Запрос на создание задачи",
                "required": [
                    "title",
                    "description",
                    "importance",
                    "deadline"
                ],
                "properties": {
                    "title": {
                        "description": "Описание задачи",
                        "type": "string",
                        "example": "Подготовить презентацию"
                    },
                    "description": {
                        "description": "Описание задачи",
                        "type": "string",
                        "example": "Подготовить презентацию для заказчика"
                    },
                    "status": {
                        "description": "Статус задачи",
                        "type": "string",
                        "enum": [
                            "todo",
                            "in_progress",
                            "completed"
                        ],
                        "example": "todo"
                    },
                    "importance": {
                        "description": "Важность задачи (1-5)",
                        "type": "integer",
                        "example": 4
                    },
                    "deadline": {
                        "description": "Крайний срок выполнения задачи",
                        "type": "string",
                        "format": "timestamp",
                        "example": "2024-12-01 12:00:00"
                    }
                },
                "type": "object"
            },
            "DeleteTaskRequest": {
                "description": "Запрос на удаление задачи",
                "type": "object"
            },
            "UpdateTaskRequest": {
                "description": "Запрос на обновление задачи",
                "required": [
                    "title",
                    "description",
                    "importance",
                    "deadline"
                ],
                "properties": {
                    "title": {
                        "description": "Название задачи",
                        "type": "string",
                        "example": "Обновить документацию"
                    },
                    "description": {
                        "description": "Описание задачи",
                        "type": "string",
                        "example": "Необходимо обновить документацию для API"
                    },
                    "status": {
                        "description": "Статус задачи",
                        "type": "string",
                        "enum": [
                            "todo",
                            "in_progress",
                            "completed"
                        ],
                        "example": "todo"
                    },
                    "importance": {
                        "description": "Важность задачи (1-5)",
                        "type": "integer",
                        "example": 3
                    },
                    "deadline": {
                        "description": "Крайний срок выполнения задачи",
                        "type": "string",
                        "format": "timestamp",
                        "example": "2025-12-31 23:59:59"
                    }
                },
                "type": "object"
            },
            "ClientErrorResponse": {
                "title": "ClientErrorResponse",
                "description": "Клиентская ошибка",
                "properties": {
                    "error": {
                        "type": "string",
                        "example": "Task with ID `id` not found"
                    },
                    "error_code": {
                        "type": "string",
                        "example": "task_not_found"
                    }
                },
                "type": "object"
            },
            "ServerErrorResponse": {
                "title": "ServerErrorResponse",
                "description": "Клиентская ошибка",
                "properties": {
                    "error": {
                        "type": "string",
                        "example": "Houston, we have a problem"
                    }
                },
                "type": "object"
            },
            "ValidationErrorResponse": {
                "title": "ValidationErrorResponse",
                "description": "Ошибка валидации",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "type": "object"
            },
            "CreateTaskResponse": {
                "description": "Ответ на успешное создание задачи. Тело ответа пустое.",
                "type": "object"
            },
            "DeleteTaskResponse": {
                "description": "Ответ на успешное удаление задачи. Тело ответа пустое.",
                "type": "object"
            },
            "ListTasksByPriorityResponse": {
                "title": "ListTasksByPriorityResponse",
                "description": "Список задач с приоритетом",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "title": {
                                    "type": "string",
                                    "example": "Task title"
                                },
                                "description": {
                                    "type": "string",
                                    "example": "Task description"
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "todo",
                                        "in_progress",
                                        "completed"
                                    ],
                                    "example": "completed"
                                },
                                "importance": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "deadline": {
                                    "type": "string",
                                    "example": "2023-10-01 12:00:00"
                                },
                                "is_overdue": {
                                    "type": "boolean",
                                    "example": false
                                },
                                "priority_score": {
                                    "type": "integer",
                                    "example": 5
                                },
                                "created_at": {
                                    "type": "string",
                                    "example": "2023-10-01 12:00:00"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "example": "2023-10-01 12:00:00"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "ListTasksResponse": {
                "properties": {
                    "tasks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ShowTaskResponse"
                        }
                    }
                },
                "type": "object"
            },
            "ShowTaskResponse": {
                "title": "ShowTaskResponse",
                "description": "Ответ на запрос получения задачи",
                "properties": {
                    "id": {
                        "description": "Идентификатор задачи",
                        "type": "integer",
                        "example": 1
                    },
                    "title": {
                        "description": "Название задачи",
                        "type": "string",
                        "example": "Задача 1"
                    },
                    "description": {
                        "description": "Описание задачи",
                        "type": "string",
                        "example": "Описание задачи 1"
                    },
                    "status": {
                        "description": "Статус задачи",
                        "type": "string",
                        "example": "todo"
                    },
                    "importance": {
                        "description": "Важность задачи",
                        "type": "integer",
                        "example": "3"
                    },
                    "deadline": {
                        "description": "Срок выполнения задачи",
                        "type": "string",
                        "example": "2025-01-12 12:00:00"
                    },
                    "created_at": {
                        "description": "Дата создания задачи",
                        "type": "string",
                        "example": "2023-10-01 12:00:00"
                    },
                    "updated_at": {
                        "description": "Дата обновления задачи",
                        "type": "string",
                        "example": "2023-10-01 12:00:00"
                    }
                },
                "type": "object"
            },
            "UpdateTaskResponse": {
                "description": "Ответ на успешное обновление задачи. Тело ответа пустое.",
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "tasks",
            "description": "tasks"
        }
    ]
}